<%= form_for @bot do |f| %>
  <h3>Create a New Bot</h3>
  <ul class="form-errors">
    <% f.object.errors.full_messages.each do |m| %>
      <li class="error-message"><%= m %></li>
    <% end %>
  </ul>
  <div class="form-row">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-row">
    <%= f.label :game_id %>
    <%= f.select :game_id , Game.all.collect { |g| [ g.title , g.id ] } , { :prompt => true } %>
  <div class="form-row">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="form-row">
    <%= f.label :repo %>
    <%= f.text_field :repo %>
  </div>
  <div class="form-row">
    Add some gists here!
  </div>
  <div class="form-row submit">
    <%= f.submit "Save" %>
  </div>
<% end %>
