<h2><%= @bot.title %></h2>
<%= form_for Like.new do |f| %>
  <%= f.hidden_field :bot_id , { :value => @bot.id } %>
  <a href="#"><%= image_tag "thumb_up.png" , :id => "bot-thumb-up" , "data-form-id" => "new_like" %></a>
<% end %>
<%= image_tag "tick.png" , :id => "bot-thumb-up-tick" %>
<p><%= @bot.description%></p>
<% if @bot.repo %>
  <em>GitHub Repo: </em><%= link_to @bot.repo %>
<% else %>
  <em>No GitHub repo &mbdash; shame on you!</em>
<% end %>
<div id="bot-gist-list">
  <h4>Your Bot Gists</h4>
  <% @bot.bot_gists.each do |gist| %>
    <div class="bot-gist">
      <%= raw gist.gist_embed_code %>
    </div>
  <% end %>
</div>

<% content_for :end_scripts do %>
  <%= javascript_include_tag "bot_show" %>
<% end %>
